<div class="form-group row task-input">
  <%= f.label :description, 'Tarefa:', class:"col-sm-2 mb-3" %>
  <%= f.text_field :description, class:"form-control col-sm-8" %>
  <%= f.hidden_field :_destroy, class: "remove" %>
  <a href="" class="delete-input btn btn-outline-danger col-sm-2" type="button" >Deletar</a>
</div>
